*.exe
*.wav
*.mp3
*.avi
*.sc
*.tga
*.kp
*.inf
*.dll
*.wad
*.asi
*.cfg
*.ico
*.bak
*.dat
*.gam
*.dt
*.lst
*.scr
*.spr
*.res
*.bmp
*.bsp
*.hpk
*.pcx
*.lnk
*.rad
*.url
INSTALL.LOG
*.fgd
*.WAD
*.htm
*.txt
cstrike/realbot/*
cstrike/maps/*
cstrike/sound/*
cstrike/sprites/*
cstrike/classes/*
*_textscheme.txt
valve/*
logos/*
gldrv/*
!Game.exe
!manifest.txt
!version.txt
!launcher_version.txt
!Game_Latest.exe
