*.exe
*.wav
*.mp3
*.avi
*.sc
*.tga
*.kp
*.inf
*.dll
*.wad
*.asi
*.cfg
*.ico
*.bak
*.dat
*.gam
*.dt
*.lst
*.scr
*.spr
*.res
*.bmp
*.bsp
*.hpk
*.pcx
*.lnk
*.rad
*.url
INSTALL.LOG
*.fgd
*.WAD
*.htm
*.txt
cstrike/realbot/*
cstrike/maps/*
cstrike/sound/*
cstrike/sprites/*
cstrike/classes/*
*_textscheme.txt
valve/*
logos/*
gldrv/*
!Game.exe
!manifest.txt
!version.txt
!launcher_hash.txt
!Game_Latest.exe
cstrike/models/hostage.mdl
cstrike/models/hostage01.mdl
cstrike/models/hostage02.mdl
cstrike/models/hostage03.mdl
cstrike/models/hostage04.mdl
cstrike/models/hostage05.mdl
cstrike/models/hostage06.mdl
cstrike/models/hostage07.mdl
cstrike/models/hostage08.mdl

